---
import "../styles/global.css"
import "../styles/fonts.css"
import { Image } from "astro:assets";
import github from "../icons/github.svg";
import telegram from "../icons/telegram.svg";
import discord from "../icons/discord.svg";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- meta -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:site_name" content="Agrofx" />
		<meta property="og:url" content="https://agrofx.net/" />
		<meta property="og:image" content="https://agrofx.net/" />
		<!-- style -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- icon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<footer>
		<hr>
		<div class="footer__content">
			<h4>Agrofx</h4>	
			<div class="footer__icons">
				<a href="https://github.com/agrofx1"><Image class="footer__icon" src={github} alt="Github" /></a>
				<a href="https://t.me/agrofxtg"><Image class="footer__icon" src={telegram} alt="Telegram" /></a>
				<a href="https://discord.gg/bdtUgVp4"><Image class="footer__icon" src={discord} alt="Discord" /></a>
			</div>
		</div>
	</footer>
</html>